/**********************************
app wide styles
**********************************/
.nav-bar{
    background-color: white;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 40px;
    margin: 0px;
    border: none;
    border-bottom: 1px solid black;
}

/**********************************
user/login/signup button styling
**********************************/

.user-login-signup-button{
    background-color: LimeGreen;
    width: 100px;
    height: 30px;
    position: absolute;
    margin-top: 5px;
    margin-left: 85%;
}

.login-button-text{
    color: white;
    position: absolute;
    left: 5px;
    text-decoration: none;
}

.login-button-text:hover{
    text-decoration: none;
    color: white;
}

/**********************************
title styling
**********************************/

#site-title{
    position: absolute;
    margin-top: auto;
}

/**********************************
container styling
**********************************/

.template-container{
    position: absolute;
    top: 50px;
    margin: 0px;
    border: none;
}
