/**********************************
app wide styles
**********************************/
.nav-bar{
    position: fixed;
    background-color: #EFECCA;
    width: 100%;
    height: 40px;
    margin: 0px;
    border: none;
    border-bottom: 1px solid black;
    z-index: 1;
}

/**********************************
user/login/signup button styling
**********************************/

.user-login-signup-button{
    position: absolute;
    margin-top: 2px;
    margin-left: 80%;
}


/**********************************
title styling
**********************************/

#site-title{
    color: #A7A37E;
    font-family: Tahoma;
    position: absolute;
    margin-top: auto;
    left: 10px;
}

/**********************************
container styling
**********************************/

.template-container{
    position: absolute;
    top: 40px;
    margin: 0px;
    border: none;
    width: 100vw;
    height: 100vh;
}
