<div ng-controller="BusinessController">
  <div class="business-info">
    <h2>{{business.name}}</h1>
    <ul>
      <li>{{business.review}}</li>
      <li>{{business.address}}</li>
    </ul>
  </div>

  <div class="business-reviews">
    <h2>Reviews</h1>

    <form>
      <input type="text" placeholder="4.5" ng-model="reviewObj.score" required></input>
      <input type="text" placeholder="Get the salt and pepper fried crab!" ng-model="reviewObj.text" required></input> 
      <button ng-click="submitReview(reviewObj)" >Submit</button>
    </form>

    <ul>
      <li ng-repeat="review in business.reviews">{{review.text}}</li>
    <ul>
      <!-- the ui-sref function below is used by UI router to attach paramaters to the url - in this case the user ID to pull specific users once we go to the user state -->
      <a ui-sref="users({userId: user.userId})"><li ng-repeat="reviews in data.results">{{user.name}}<span>{{user.localPull}}</span><span>{{review.text}}</span><span>{{review.score}}</span></li>
    </ul>
  </div>
</div>