/**********************************
business-page wide styles
**********************************/

/**********************************
info styling
**********************************/

.business-info{

}

.business-info h2{
  color: #E6E2AF;
}

/**********************************
map styling
**********************************/

#business-map {
  position: absolute;
  height: 400px;
  left: 30%;
  z-index: 1;
}

/**********************************
review styling
**********************************/

.business-reviews{
  position: absolute;
  background-color: #002F2F;
  width: 100%;
  bottom: 0px; 
}

.business-reviews h2{
  color: #E6E2AF;
}
