/**********************************
home wide styles
**********************************/

/**********************************
search bar related styling
**********************************/

.search-bar{
  margin-top: 15px;
  margin-left: 450px;
}

.input-bar{
  width: 400px;
}

/**********************************
selection panel styling
**********************************/

.selection-panel{
  position: absolute;
  background-color: LimeGreen;
  height: 800px;
  width: 300px;
  top: 0px;
  left: -5px;
}

.business-list{
  position: absolute;
  top: 75px;
}

.business{
  color: white;
  font-family: "Arial Black";
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.business:hover{
  color: LightGrey;
  text-decoration: none;
}

/**********************************
map styling
**********************************/

.angular-google-map-container{ 
  height: 500px;
  width: 500px;
  left: 400px;
  top: 50px;
}

