<div id="home" ng-controller="HomeController">

  <form ng-submit="search()">
    <input class="search-bar" type="text" placeholder="Seach for local establishments!" ng-model="searchFilter"></input> 
  </form>

    <google-map class="map-container" ng-controller="HomeController" center="map.center" zoom="map.zoom" draggable="true"></google-map>

  <div class="selection-panel">
    <ul>
      <a  ng-repeat="business in data" ui-sref="business({place_id: business.place_id})"><li>{{business.name}}<span>{{business.score}}</span><span>{{business.distance}}mi</span><span>{{business.rating}}</span></li>
    </ul>
  </div>

</div>
