/**********************************
home wide styles
**********************************/

/**********************************
search bar related styling
**********************************/

.search-bar{
  margin-top: 10px;
  margin-left: 40%;
  padding-bottom: 10px;
}

.input-bar{
  width: 400px;
}

/**********************************
selection panel styling
**********************************/

.selection-panel{
  position: absolute;
  background-color: #002F2F;
  height: 800px;
  width: 300px;
  top: 0px;
  left: -5px;
}

.business-list{
  position: absolute;
  top: 45px;
  left: -15px;
}

.business{
  color: white;
  font-family: Helvetica;
  list-style-type: none;
  padding-bottom: 12px;
}

.business:hover{
  color: LightGrey;
  text-decoration: none;
}

/**********************************
map styling
**********************************/

#map {
  position: absolute;
  height: 650px;
  width:60%;
  left: 30%;
}

