<div ng-controller="HomeController">

  <form class="search-bar" ng-submit="search()">
    <input class="input-bar" type="text" placeholder="Seach for local establishments!" ng-model="searchFilter"></input> 
  </form>

  <div id="map"></div>
  <!-- <google-map class="map-container" ng-controller="HomeController" center="map.center" zoom="map.zoom" draggable="true">
    <marker ng-repeat="marker in markers" modules="markers" idkey="marker.idkey" coords="'marker.coords'"></markers>
  </google-map> -->

  <div class="selection-panel">
    <div class="business-list">
      <ul>
        <a class="business" ng-repeat="business in data" ui-sref="business({place_id: business.place_id})"><li>{{business.name}}<span>{{business.score}}</span><span>{{business.distance}}mi</span><span>{{business.rating}}</span></li>
      </ul>
    </div>
  </div>

</div>
