<div id="home" ng-controller="HomeController">
  <form class="search-form" ng-submit="search()">
    <input class="search-bar" type="text" placeholder="Seach for local establishments!" ng-model="searchFilter"></input> 
  </form>
  <div class="selection-panel">
    <ul>
      <li ng-repeat="business in data.results"><span>{{business.distance}}mi  </span>{{business.name}}</li>
    </ul>
  </div>
  <!-- <div id="map_canvas" ng-controller="mapController">
    <google-map center="map.center" zoom="map.zoom" draggable="true"></google-map>
  </div> -->
</div>

